.top {
    background: #1F2937;
    height: 250px;
    display: flex;
    flex-direction: row;
    color: white;

}

.headerlogo {
    justify-content: flex-start;
    display: flex;
    font-size: 48px;
    padding-left: 75px;
    
}

.toplinks {
    justify-content: flex-end;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-content: end;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: red;
    font-size: 48px;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: blue;
    font-size: 48px;
}

.section3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: red;
    font-size: 48px;
}

.section4 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: white;
    font-size: 48px;
}

.footer {
    display: flex;
    height: 30px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
    font-size: 20px;
    color: white;
}
